* {
  margin            : 0;
  padding           : 0;
  vertical-align    : top;
  box-sizing        :border-box;
  -moz-box-sizing   :border-box;
  -webkit-box-sizing:border-box;
  font-family: arial, helvetica, sans-serif;
}

.header_menu li {
  display  :-moz-inline-stack;
  display  :inline-block;
  zoom     :1;
  *display :inline;
}

/* Header */
.header {
  width: 100%;
  background: #5098bd;
  padding: 10px;
}

.header_menu li a {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
}

.header_menu li ~ li {
  margin-left: 20px;
}

.logo-med {

}

.btn-grey {
  display  :-moz-inline-stack;
  display  :inline-block;
  zoom     :1;
  *display :inline;
}

/* Buttons */
.btn-grey {
  line-height: 30px;
  text-align: center;
  background: #aaaaaa;
}