<template whiskers-error-window>
  {:
    `whiskers-modal{
      icon : error;
      content:
        <div class="whiskers_error">
          if %error-code == 7:
            This is the 7th code
          else:
            this is some code I dont know
          /if
          <div class="whiskers_error-code">Error: %error-code</div>
          <div class="whiskers_error-title">%error-title</div>
            if %error-message:
              <div class="whiskers_error-message-container">testing %error-message</div>
            /if
          <div class="whiskers_error-content">
            if %error:
              <h2 class="whiskers_error-subtitle">JSON:</h2><div class="whiskers_error-code">%error</div>
            /if

            if %example:
              <h2 class="whiskers_error-subtitle">Example:</h2>
              <pre class="whiskers_error-example">%example</pre>
            /if

            if %example-text:
              <p class="whiskers_error-example-text">%example-text</p>
            /if
          </div>
        </div>
      ;
    }
  :}
</template>

<template whiskers-modal>
  <div class="whiskers_modal">
    <div class="whiskers_modal_container">
      <div class="whiskers_modal_window">
        <div class="whiskers_modal_icon-container">
          <div class="whiskers_modal_icon-%icon"></div>
        </div>
        <div class="whiskers_modal_chrome">
          %content
        </div>
      </div>
    </div>
  </div>
</template>

<template whiksers-error-window_2>
  {:
    get
      whiskers-error-window_=error-code{
        %error-title    = Template File: %file does not exist,
        %error-message  = Make sure your template file is a real file before refreshing.
      }
    /get
  :}
</template>

<template whiskers-error-window_3>
  {:
    get
      whiskers-error-window{
        %error-title    = Invalid URL,
        %error-message  = The url <strong>"'+options.src+'"</strong> is not a valid URL. Please check the address and try again
      }
    /get
  :}
</template>

<template whiskers-error-window_4>
  {:
    get
      whiskers-error-window{
        %error-title    = JSON Object requires the matching key for the template name,
        %error-message  = Check JSON for a key with the name: <strong>%template-name</strong>',
        %example        = <span class="whiskersError-highlight">%template-name</span>%data
      }
    /get
  :}
</template>

<template whiskers-error-window_5>
  {:
    get whiskers-error-window{
      %error-title   = Missing JSON Object,
      %error-message = whiskers initializer requires a JSON object,
      %example       = whiskers.init({
          "src": "templates/templates.html",
          "data": JSON
        },callback);
    }
    /get
  :}
</template>

<template whiksers-error-window_6>
  {:
    get
      whiskers-error-window{
        %error-title   : Invalid URL,
        %error-message : The url <strong>%url</strong> is not a valid URL. Please check the address and try again.
      }
    /get
  :}
</template>

<template whiskers-error-window_7>
  {:
    `whiskers-error-window{
      %error-title     = Template %template-name does not exist,
      if %url:
        %error-message = Check <strong>%url</strong> for errors,
      /if
      %example         = &lt;template <strong>%template-name</strong>&gt;%key&lt;/template&gt;,
      %example-text    = %key will return a value from your JSON object, if it exists.
    }
  :}
</template>

<template whiskers-error-window_8>
  {:
    get whiskers-error-window{
      %error-title   = JSON Object requires the matching key for the template name,
      %error-message = Check JSON for a key with the name: <strong>%template-name</strong>,
      %example       = <span class="whiskersError-highlight">%template-name</span>:%data
    }
    /get
  :}
</template>

<template whiskers-error-window_9>
  %error-title = Iterator <strong>%iterator</strong> does not exist,
  %error-message = Check JSON for: %iterator,
</template>

<template whiskers-error-window_10>
    %error-title   = Templates are not defined,
    %error-message = Make sure to attach templates to whiskers.init(),
    %example       = whiskers.init({\n\tdata: json,\n\ttemplates: ["./templates/template_header.html,./templates/template_body.html"],\n\tonload: script.init();\n});
</template>

<template whiskers-error-window_11>
  %error-code    = Invalid if statement,
  %error-message = Make sure if statement is properly formated,
  %example       = if variable|variable == true: content /if
</template>