[data-peach] {
  display: none;
}

.peach-error {
  color: #a10043;
  font-size: 15px;
  display: block;
  padding: 10px;
  line-height: 20px;
}

.peach-error_title {
  display: block;
  font-size: 12px;
}

.peach-container {
}