/* Dummy class for detecting CSS loading */
.whiskers_css {
  text-align: center;
}

.whiskers_error {
    z-index: 99999;
    position: absolute;
    width: 500px;
    margin: auto;
    font-family: Arial,Helvetica,Sans-serif;
    color: #3d3232;
    background: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.whiskers_error-title {
    margin: 0;
    padding: 2px 20px 0;
    font-size: 16px;
    line-height: 50px;
    color: #fff;
    background: #831118;
}

.whiskers_error-message-container {
    margin: 0;
    padding: 20px 20px 20px;
    font-size: 13px;
    line-height: 20px;
}

.whiskers_error-content {
    padding: 0 20px 30px;
}

.whiskers_error-highlight {
    padding: 0 5px;
    font-weight: bold;
    background: #d3666c;
}

.whiskers_error-subtitle {
    margin: 0 0 10px 0;
    font-size: 13px;
    line-height: 20px;
}

.whiskers_error-message {
    font-size: 13px;
}

.whiskers_error-code {
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    background: #d8d8d8;
}

.whiskers_error-example-text {
    margin: 16px 0 0 0;
    font-size: 13px;
}