<template koala-error-window>
  {:
    wrap koala-modal{icon:'error'}
      <div class="koala_error">

        <div class="koala_error-code">Error: =error-code</div>
        <div class="koala_error-title">=error-title</div>
          if error-message:
            <div class="koala_error-message-container">=error-message</div>
          /if
        <div class="koala_error-content">
          if error:
            <h2 class="koala_error-subtitle">JSON:</h2><div class="koala_error-code">=error</div>
          /if

          if example:
            <h2 class="koala_error-subtitle">Example:</h2>
            <pre class="koala_error-example">=example</pre>
          /if

          if example-text:
            <p class="koala_error-example-text">=example-text</p>
          /if
        </div>
      </div>
    /wrap
  :}
</template>

<template koala-modal>
  <div class="koala_modal">
    <div class="koala_modal_container">
      <div class="koala_modal_window">
        <div class="koala_modal_icon-container">
          <div class="koala_modal_icon-=icon"></div>
        </div>
        <div class="koala_modal_chrome">
          {{}}
        </div>
      </div>
    </div>
  </div>
</template>