<template heasder>
  <div class="header">
    {:
      get logo-medium,navigation /get

      // <ul>[test,'test2','test3']=>(<li>test_=value</li>)</ul>
    :}
  </div>
</template>

<template logo-medium>
  <div class="logo-medium"></div>
</template>

<template navigation>
  <ul>
    {:
      each nav navigation-item;
    :}
  </ul>
</template>

<template navigation-item>
  <li><a href="=href">{:=name:}</a></li>
</template>

<template test>
  <div class="=class">For example: =test {{}}</div>
</template>